@import 'header.pcss';
@import 'footer.pcss';
@import 'popup.pcss';
@import '../sections/hero.pcss';
@import '../sections/about.pcss';
@import '../sections/swiper.pcss';
@import '../sections/swiper-item.pcss';
@import '../sections/mobail-menu.pcss';
