@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

:focus {
  outline: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

label, button, input[type="submit"], input[type="button"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

* {
  box-sizing: border-box;
}

:root {
  --cl-black: #000000;
  --cl-black-rgb: 0 0 0;

  --cl-primary: #ec612a;
  --cl-primary-rgb: 236 97 42;

  --cl-white: #ffffff;
  --cl-white-rgb: 255 255 255;

  --font-main: 'Urbanist', sans-serif;

  /* --mobile-menu-start-point and @custom-media --mobile-menu-start-point must be the same */
  --mobile-menu-start-point: 1200;

  --vh: calc(100vh / 100);
}

/* --mobile-menu-start-point and @custom-media --mobile-menu-start-point must be the same */

/* @custom-media --mobile-menu-start-point (max-width: 1200px); */

/* --mobile-menu-end-point must be greater than 1 of the  --mobile-menu-start-point and @custom-media --mobile-menu-start-point */

/* @custom-media --mobile-menu-end-point (min-width: 1201px); */

@font-face {
  font-family: 'icomoon';
  src: url('../../assets/fonts/icomoon.eot?vnui8z');
  src: url('../../assets/fonts/icomoon.eot?vnui8z#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/icomoon.woff2?vnui8z') format('woff2'),
    url('../../assets/fonts/icomoon.ttf?vnui8z') format('truetype'),
    url('../../assets/fonts/icomoon.woff?vnui8z') format('woff'),
    url('../../assets/fonts/icomoon.svg?vnui8z#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class^='icon-'], [class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: '\e903';
}

.icon-arrow-up:before {
  content: '\e904';
}

.icon-arrow-left:before {
  content: '\e900';
}

.icon-arrow-right:before {
  content: '\e901';
}

.icon-linkedin:before {
  content: '\e902';
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 130%;
  color: var(--cl-grey);
}

h1 {
  font-size: clamp(37px, calc(37px + 33.00 * ((100vw - 768px) / 672)), 70px);
  line-height: normal;
}

@media not all and (min-width: 640px) {

h1 {
    line-height: 129%
}
  }

h2 {
  font-size: clamp(27px, calc(27px + 23.00 * ((100vw - 768px) / 672)), 50px);
  line-height: normal;
}

@media not all and (min-width: 640px) {

h2 {
    line-height: 140%;
}
  }

h2.subtitle {
    font-size: clamp(22px, calc(22px + 13.00 * ((100vw - 768px) / 672)), 35px);
    line-height: 140%;
  }

h3 {
  font-size: clamp(22px, calc(22px + 3.00 * ((100vw - 768px) / 672)), 25px);
  line-height: normal;
  font-weight: 600;
}

h4 {
  font-size: clamp(18px, calc(18px + 2.00 * ((100vw - 768px) / 672)), 20px);
  line-height: 140%;
  font-weight: 400;
}

@media not all and (min-width: 640px) {

h4 {
    line-height: 155%
}
  }

h5 {
  font-size: clamp(20px, calc(20px + 8.00 * ((100vw - 768px) / 672)), 28px);
  font-weight: 500;
  line-height: 1.5;
}

h6 {
  font-size: clamp(18px, calc(18px + 6.00 * ((100vw - 768px) / 672)), 24px);
  font-weight: 500;

  line-height: 2;
}

p {
  font-size: clamp(16px, calc(16px + 2.00 * ((100vw - 768px) / 672)), 18px);
  font-weight: 400;
  color: var(--cl-medium-grey);

  line-height: 144%;
}

@media not all and (min-width: 640px) {

p {
    line-height: 162%
}
  }

li {
  font-size: clamp(16px, calc(16px + 2.00 * ((100vw - 768px) / 672)), 18px);
  font-weight: 400;
  color: var(--cl-medium-grey);

  line-height: 144%;
}

@media not all and (min-width: 640px) {

li {
    line-height: 162%
}
  }

a {
  font-size: clamp(16px, calc(16px + 4.00 * ((100vw - 768px) / 672)), 20px);
  font-weight: 500;
  display: inline-block;
  line-height: 100%;
}

.content-element h1, .content-element h2, .content-element h3, .content-element h4, .content-element h5, .content-element h6 {
  }

.content-element h4 {
    color: var(--cl-medium-grey);
    font-weight: 500;
  }

.content-element h4:not(:last-child) {
      margin-bottom: clamp(16px, calc(16px + 4.00 * ((100vw - 768px) / 672)), 20px);
    }

.content-element ol li, .content-element ul li {
      list-style-position: inside;
    }

.content-element ol {
    list-style: decimal;
  }

.content-element ul {
    list-style: disc;
  }

/*Not Design*/

.content-element li:not(:last-child), .content-element p:not(:last-child) {
      margin-bottom: clamp(16px, calc(16px + 4.00 * ((100vw - 768px) / 672)), 20px);
    }

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p, .dark-bg li {
    color: var(--cl-white);
  }

@font-face {
  font-family: 'New Order';
  src: url('../../assets/fonts/NewOrder-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/NewOrder-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Order';
  src: url('../../assets/fonts/NewOrder-Bold.woff2') format('woff2'),
    url('../../assets/fonts/NewOrder-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Order';
  src: url('../../assets/fonts/NewOrder-Light.woff2') format('woff2'),
    url('../../assets/fonts/NewOrder-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Order';
  src: url('../../assets/fonts/NewOrder-Regular.woff2') format('woff2'),
    url('../../assets/fonts/NewOrder-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Order';
  src: url('../../assets/fonts/NewOrder-Medium.woff2') format('woff2'),
    url('../../assets/fonts/NewOrder-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.fp-watermark {
  display: none;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--cl-primary) transparent;
}

body {
  position: relative;
  min-width: 320px;
  margin: auto;
  background: #fff;

  color: var(--cl-black);
  font-family: 'New Order';

  overflow-x: hidden;

  min-height: calc(100 * var(--vh));
  display: flex;
}

body::-webkit-scrollbar {
    width: 6px;
  }

body::-webkit-scrollbar-track {
    background: var(--cl-light-grey);
    border-radius: 0;
  }

body::-webkit-scrollbar-thumb {
    background: var(--cl-red);
    border-radius: 0;
  }

.swiper-wrapper {
  left: 0 !important;
}

#site {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.cont {
  margin: 0 auto;
  max-width: 1276px;
  width: 88.61111111111111%;
}

@media not all and (min-width: 1024px) {

.cont {
    width: 89.33%
}
  }

section {
  position: relative;
}

.logo {
  transition: 0.3s ease;
}

.logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

.logo:hover {
    transform: scale(1.06);
  }

#bold-credits {
  width: 148px;
  transition: ease-in-out 0.25s;
}

#bold-credits::before, #bold-credits::after {
    display: none;
  }

#bold-credits:hover {
    transform: scale(1.1);
  }

@media not all and (min-width: 640px) {

#bold-credits{
    width: 159px;
  }
  }

#site.cookie-terms-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

#site.cookie-terms-page .main {
    flex-grow: 1;
    padding: 0;
  }

.cookie-terms-section {
  padding: clamp(140px, calc(140px + 110.00 * ((100vw - 768px) / 672)), 250px) 0 clamp(50px, calc(50px + 100.00 * ((100vw - 768px) / 672)), 150px);
}

.cookie-terms-section p {
    padding: 0;
    margin-bottom: 10px;
  }

.cookie-terms-section ul, .cookie-terms-section ol {
    padding-left: 20px;
  }

.cookie-terms-section ul li p, .cookie-terms-section ol li p {
        margin-bottom: 0;
      }

.cookie-terms-section ul {
    list-style: circle;
  }

.cookie-terms-section ol {
    list-style: decimal;
  }

.cookie-terms-section a {
    display: inline;
    text-decoration: underline;
    transition: 0.2s;
  }

.cookie-terms-section a:hover {
      opacity: 0.7;
    }

.single-page-404 {
  min-height: 100vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-page-404 h1, .single-page-404 p {
    margin-bottom: 15px;
    padding: 0;
  }

.single-page-404 a {
    display: inline-block;
    margin-top: 20px;
  }

.container {
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 82px;
  }
}

.header {
  padding: 20px 0;
}

.header_logo {
  height: 40px;
  width: 128px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header_list_item {
  display: none;
}

.header_btn_menu {
  height: 48px;
  width: 48px;
  border: 2px solid #db509b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 32px 0;
  }
  .header_logo {
    width: 178px;
    height: 56px;
  }
  .header_list_item {
    display: block;
  }
  .header_btn {
    padding: 16px 32px;
    border: 1px solid #db509b;
    background-color: transparent;
    border-radius: 50px;
    color: rgb(86, 11, 117);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 8%;
  }
  .header_btn, .header_btn_menu {
    transition: all 300ms linear;
  }
    .header_btn:hover, .header_btn:focus, .header_btn_menu:hover, .header_btn_menu:focus {
      background-color: #db509b;
      color: #fff;
    }
  .header_btn_menu {
    margin-left: 24px;
  }
}

.footer {
  padding: 32px 0;
  color: var(--cl-white);
}

.footer .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
  }

.footer .navbar a {
      margin-right: 20px;
    }

.footer .navbar > div {
      position: relative;
    }

.footer .navbar > div:hover .sub-btn > * {
            color: var(--cl-primary);
          }

.footer .navbar > div:hover .sub-btn span {
            transform: rotate(180deg);
          }

.footer .navbar > div:hover .sub-menu {
          padding: 15px;
          max-height: 500px;
          opacity: 1;
        }

.footer .navbar .sub-btn {
      margin-right: 15px;
    }

.footer .navbar .sub-btn a {
        margin-right: 0;
      }

.footer .navbar .sub-btn span {
        font-size: 12px;
        padding: 0 5px;
        margin-top: 0;
      }

.footer .navbar .sub-menu {
      position: absolute;
      bottom: 0;
      left: 0;
      align-items: flex-start;
      display: flex;
      min-width: calc(100% + 15px);
      transform: translate(-15px, 105%);

      background-color: var(--bg-second);
      border-radius: clamp(10px, calc(10px + 10.00 * ((100vw - 768px) / 672)), 20px);
      white-space: nowrap;
    }

.footer .navbar .sub-menu a {
        margin-right: 0;
      }

.footer .navbar .sub-menu a:not(:last-child) {
          margin-bottom: 10px;
        }

.footer .navbar .sub-menu a::before {
          display: none;
        }

.footer .mobile-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 60vh;
    overflow: auto;
    width: 100%;
  }

.footer .mobile-navbar .simplebar-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

.footer .mobile-navbar .sub-btn {
      margin-right: -36px;
    }

.footer .mobile-navbar .sub-btn span {
        margin-left: 20px;
      }

.footer .mobile-navbar .sub-btn.active a, .footer .mobile-navbar .sub-btn.active span {
          color: var(--cl-primary);
        }

.footer .mobile-navbar .sub-btn.active .sub-btn a {
            margin-bottom: 10px;
          }

.footer .mobile-navbar .sub-btn.active span {
          transform: rotate(180deg);
        }

.footer .mobile-navbar .sub-menu {
      overflow: auto;
    }

.footer .mobile-navbar .sub-menu a {
        font-size: clamp(18px, calc(18px + 10.00 * ((100vw - 375px) / 650)), 28px);
        margin-top: 15px;
      }

.footer .mobile-navbar .sub-menu a:first-child {
          margin-top: 0;
        }

.footer .mobile-navbar .sub-menu.active {
        margin-top: 10px;
        max-height: clamp(200px, calc(200px + 100.00 * ((100vw - 768px) / 672)), 300px);
        opacity: 1;
      }

.footer .sub-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.footer .sub-btn span {
      margin-top: clamp(15px, calc(20px + -5.00 * ((100vw - 375px) / 650)), 20px);
      transition: 0.3s ease;
      cursor: pointer;
    }

.footer .sub-btn span:hover {
        color: var(--cl-primary);
      }

.footer .sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    opacity: 0;
  }

.footer .simplebar-track.simplebar-vertical {
    background-color: var(--cl-white);
    width: 10px;
    border-radius: 20px;
  }

.footer .simplebar-content-wrapper {
    padding: 0 15px;
  }

.footer .simplebar-scrollbar::before {
    background-color: var(--cl-primary);
    opacity: 1;
  }

.footer a {
    position: relative;
    transition: ease-in-out 0.25s;
  }

.footer a:not(.btn)::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background: var(--cl-white);
        transition: ease-in-out 0.25s;
      }

.footer a:not(.btn):hover {
        color: var(--cl-primary);
      }

.footer a:not(.btn):hover::before {
          width: 100%;
          left: 0;
          background: var(--cl-primary);
        }

.footer .logo {
    width: clamp(80px, calc(80px + 70.00 * ((100vw - 768px) / 672)), 150px);
    flex-shrink: 0;
  }

.footer .logo::before {
      display: none;
    }

.footer .logo:hover {
      transform: scale(1.06);
    }

.footer > .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.footer > .cont > .navbar {
      margin-bottom: clamp(20px, calc(20px + 10.00 * ((100vw - 768px) / 672)), 30px);
    }

.footer .logo {
    margin-bottom: clamp(20px, calc(20px + 10.00 * ((100vw - 768px) / 672)), 30px);
  }

.footer .bottom-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min(800px, 100%);
  }

.footer .bottom-info .navbar {
      margin-left: auto;
    }

.footer .bottom-info .navbar a {
        margin-right: 0;
      }

.footer .bottom-info .navbar a:not(:last-child) {
          margin-right: 20px;
        }

.footer .bottom-info p {
      padding: 0;
    }

@media not all and (min-width: 650px) {
    .footer .cont > .navbar {
      display: none;
    }

    .footer .bottom-info {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }

      .footer .bottom-info .navbar, .footer .bottom-info p {
        margin: 0 auto;
      }
	}

:root {
  --pp-main: #707070;
  --pp-main-rgb: 112 112 112;

  --pp-black: #000;
  --pp-black-rgb: 0 0 0;

  --pp-white: #ffffff;
  --pp-white-rgb: 255 255 255;

  --pp-dark-blue: #0e1127;
  --pp-dark-blue-rgb: 14 17 39;

  --pp-blue: #3ab4ff;
  --pp-blue-rgb: 58 180 255;

  --pp-dark-gray: #343434;
  --pp-dark-gray-rgb: 52 52 52;

  --pp-light-gray: #dce1e4;
  --pp-light-gray-rgb: 220 225 228;

  --pp-font-main: var(--font-main);
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 8999;
  display: none;
}

.popup.active {
    display: block;
  }

.popup__close-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
    transition: all 0.5s ease;
    animation-duration: 0.3s;
    animation-name: opacityPopupBg;
  }

.popup__block {
    --pp-default-translate-x-from: -50%;
    --pp-default-translate-x-to: -50%;

    --pp-default-translate-y-from: -50%;
    --pp-default-translate-y-to: -50%;

    --pp-opacity-from: 0;
    --pp-opacity-to: 1;

    background: var(--pp-white);

    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;
    max-width: clamp(600px, calc(600px + 250.00 * ((100vw - 768px) / 672)), 850px);
    padding: clamp(30px, calc(30px + 10.00 * ((100vw - 768px) / 672)), 40px) clamp(24px, calc(24px + 16.00 * ((100vw - 768px) / 672)), 40px);

    transform: translateY(var(--pp-default-translate-y-to))
      translateX(var(--pp-default-translate-x-to));
    transition: all 300ms ease-out;
    animation-duration: 0.6s;
  }

.popup__block.without-opacity {
      --pp-opacity-from: 1;
    }

.popup__block.pos-l, .popup__block.pos-r {
      --pp-default-translate-x-from: 0;
      --pp-default-translate-x-to: 0;
    }

.popup__block.pos-t, .popup__block.pos-b {
      --pp-default-translate-y-from: 0;
      --pp-default-translate-y-to: 0;
    }

.popup__block.pos-t {
      top: 0;
      bottom: auto;
      bottom: initial;
    }

.popup__block.pos-r {
      right: 0;
      left: auto;
      left: initial;
    }

.popup__block.pos-b {
      top: auto;
      top: initial;
      bottom: 0;
    }

.popup__block.pos-l {
      right: auto;
      right: initial;
      left: 0;
    }

.popup__block.full-height {
      max-height: 100vh;
      height: 100%;
      right: 0;
      left: auto;
      left: initial;
      --pp-default-translate-x-from: 0;
      --pp-default-translate-x-to: 0;
    }

.popup__block.full-height .popup__content {
        max-height: calc(var(--vh, 1vh) * 72);
      }

.popup__block.slide-l {
      --pp-default-translate-x-from: 100%;
    }

.popup__block.slide-r {
      --pp-default-translate-x-from: -100%;
    }

.popup__block.slide-t {
      --pp-default-translate-y-from: -100%;
    }

.popup__block.slide-b {
      --pp-default-translate-y-from: 100%;
    }

.popup__block.slide-t, .popup__block.slide-r, .popup__block.slide-b, .popup__block.slide-l {
      animation-name: popupSlide;
    }

.popup__title {
    color: var(--pp-dark-blue);
    font-size: clamp(20px, calc(20px + 4.00 * ((100vw - 768px) / 672)), 24px);
    line-height: 1.2;
    font-family: var(--pp-font-main);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: clamp(24px, calc(24px + 8.00 * ((100vw - 768px) / 672)), 32px);
  }

.popup__btn-close {
    position: absolute;
    right: clamp(15px, calc(15px + 10.00 * ((100vw - 768px) / 672)), 25px);
    top: clamp(15px, calc(15px + 10.00 * ((100vw - 768px) / 672)), 25px);
    transition: all 300ms ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.popup__btn-close .close-clip {
      transition: inherit;
      width: clamp(20px, calc(20px + 4.00 * ((100vw - 768px) / 672)), 24px);
      height: clamp(20px, calc(20px + 4.00 * ((100vw - 768px) / 672)), 24px);
      background: var(--pp-dark-blue);
      -webkit-clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
      );
              clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
      );
    }

.popup__btn-close i {
      transition: inherit;
      font-size: clamp(20px, calc(20px + 4.00 * ((100vw - 768px) / 672)), 24px);
      color: var(--pp-dark-blue);
    }

.popup__btn-close:hover .close-clip {
        background: var(--pp-blue);
        transform: scale(1.05);
      }

.popup__btn-close:hover i {
        color: var(--pp-blue);
        transform: scale(1.05);
      }

.popup__content {
    max-height: calc(var(--vh, 1vh) * 66);
  }

.popup__content .simplebar-track.simplebar-vertical {
      width: 4px;
      background: var(--pp-light-gray);
      border-radius: 4px;
      transform: translateX(10px);
    }

.popup__content .simplebar-track.simplebar-vertical .simplebar-scrollbar {
        background: var(--pp-dark-blue);
        border-radius: 4px;
      }

.popup__content .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
          content: none;
        }

.popup__content .popup-form__container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 15px;
      }

@media not all and (min-width: 640px) {

.popup__content .popup-form__container {
          grid-template-columns: repeat(1, minmax(0, 1fr))
      }
  }

.popup__content .popup-form__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        padding-top: clamp(20px, calc(20px + 4.00 * ((100vw - 768px) / 672)), 24px);
        flex-wrap: wrap;
      }

.popup__content .popup-form__bottom .popup-btn {
          margin-left: auto;
        }

.popup__content .popup-btn {
      font-size: clamp(14px, calc(14px + 2.00 * ((100vw - 768px) / 672)), 16px);
      font-weight: 700;
      font-family: var(--pp-font-main);
      line-height: 1.2;
      text-transform: uppercase;
      background-color: var(--pp-dark-blue);
      color: var(--pp-white);
      border: none;
      outline: none;
      border-radius: 4px;
      padding: 12px 18px;
      cursor: pointer;
      transition: 0.3s ease-in-out all;
      position: relative;
      overflow: hidden;
    }

.popup__content .popup-btn::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: skew(45deg);
        pointer-events: none;
      }

.popup__content .popup-btn:hover::after {
          background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.7) 100%
          );
          animation: gradientPopupBtn 0.3s linear forwards;
        }

.popup__content .popup-btn:active {
        transform: scale(0.9);
        opacity: 0.9;
      }

@keyframes popupSlide {
  from {
    transform: translateY(var(--pp-default-translate-y-from))
      translateX(var(--pp-default-translate-x-from));
    opacity: var(--pp-opacity-from);
  }

  to {
    transform: translateY(var(--pp-default-translate-y-to))
      translateX(var(--pp-default-translate-x-to));
    opacity: var(--pp-opacity-to);
  }
}

@keyframes opacityPopupBg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gradientPopupBtn {
  0% {
    transform: translateX(-100%) skew(45deg);
  }

  100% {
    transform: translateX(100%) skew(45deg);
  }
}

/* Common effects */

[data-view] {
  transition-duration: var(--view-speed);
  transition-timing-function: var(--view-easing);
}

[data-view].animated {
    opacity: 1;
    transform: translateZ(0);
  }

[data-view='fade'], [data-view^='fade'], [data-view='zoom'], [data-view^='zoom'] {
  opacity: 0;
  transition-property: opacity, transform;
}

/* Slide effect */

[data-view='slide'], [data-view^='slide'] {
  transition-property: transform;
}

[data-view='slide'].animated, [data-view^='slide'].animated {
    transform: translateZ(0);
  }

/* Fade and slide effects */

[data-view='slide-tl'], [data-view='fade-tl'] {
  transform: translateY(100px) translateX(100px);
}

[data-view='slide-tr'], [data-view='fade-tr'] {
  transform: translateY(100px) translateX(-100px);
}

[data-view='slide-bl'], [data-view='fade-bl'] {
  transform: translateY(-100px) translateX(100px);
}

[data-view='slide-br'], [data-view='fade-br'] {
  transform: translateY(-100px) translateX(-100px);
}

[data-view='fade-l'], [data-view='slide-l'] {
  transform: translateX(100px);
}

[data-view='fade-r'], [data-view='slide-r'] {
  transform: translateX(-100px);
}

[data-view='fade-t'], [data-view='slide-t'] {
  transform: translateY(100px);
}

[data-view='fade-b'], [data-view='slide-b'] {
  transform: translateY(-100px);
}

/* Zoom effect */

[data-view^='zoom'].animated, [data-view^='zoom'].animated {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }

[data-view='zoom'] {
  transform: scale(0.1);
}

[data-view='zoom-l'] {
  transform: translateX(100px) scale(0.1);
}

[data-view='zoom-tl'] {
  transform: translateY(100px) translateX(100px) scale(0.1);
}

[data-view='zoom-tr'] {
  transform: translateY(100px) translateX(-100px) scale(0.1);
}

[data-view='zoom-br'] {
  transform: translateY(-100px) translateX(-100px) scale(0.1);
}

[data-view='zoom-bl'] {
  transform: translateY(-100px) translateX(100px) scale(0.1);
}

[data-view='zoom-r'] {
  transform: translateX(-100px) scale(0.1);
}

[data-view='zoom-t'] {
  transform: translateY(100px) scale(0.1);
}

[data-view='zoom-b'] {
  transform: translateY(-100px) scale(0.1);
}

/* Rotate effect */

[data-view^='rotate'], [data-view^='rotate'] {
  opacity: 0;
  transform: rotate(180deg);
}

[data-view='rotate-l'] {
  transform: rotate(180deg) translateX(-100px);
}

[data-view='rotate-r'] {
  transform: rotate(180deg) translateX(100px);
}

[data-view='rotate-t'] {
  transform: rotate(180deg) translateY(-100px);
}

[data-view='rotate-b'] {
  transform: rotate(180deg) translateY(100px);
}

.hero {
  height: 688px;
  width: 100vw;
  overflow: hidden;
}

.hero_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  width: 100vw;
  padding-bottom: 32px;
  gap: 24px;
}

.hero_slide_first .hero_slide_second {
  height: 688px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero_slide_first {
  background-image: url(../../assets/images/hero/firstDesk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.hero_slide_second {
  background-image: url(../../assets/images/hero/second.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.hero_title {
  color: rgb(255, 255, 255);
  font-family: New Order;
  font-size: 36px;
  font-weight: 600;
  width: 326px;
  text-align: left;
}

.hero_title_part {
  font-size: 44px;
  font-weight: 400;
}

.hero_subtitle {
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.hero_list_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}

.hero_btn_first, .hero_btn_second {
  width: 326px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
}

.hero_btn_first {
  transition: all 300ms linear;
}

.hero_btn_first:hover, .hero_btn_first:focus {
    background-color: #fff;
    color: #db509b;
  }

.hero_btn_second {
  border-color: #db509b;
  color: #db509b;
  background-color: #fff;
  transition: all 300ms linear;
}

.hero_btn_second:hover, .hero_btn_second:focus {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
  }

.hero_list_control {
  display: flex;
  gap: 12px;
}

.hero_control_btn {
  height: 48px;
  width: 48px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 300ms linear;
}

.hero_control_btn:hover, .hero_control_btn:focus {
    background-color: #fff;
    color: #db509b;
  }

@media screen and (min-width: 1440px) {
  .hero {
    height: 780px;
  }
  .hero_slide_first {
    background-image: url(../../assets/images/hero/firstDesk.jpg);
  }
  .hero_slide_second {
    background-image: url(../../assets/images/hero/secondDesk.jpg);
  }
  .hero_container {
    padding-bottom: 90px;
    gap: 4px;
    align-items: start;
  }
  .hero_title {
    font-size: 64px;
    width: 638px;
    margin-bottom: 24px;
  }
  .hero_title_part {
    font-size: 72px;
  }
  .hero_subtitle {
    font-size: 28px;
    margin-bottom: 48px;
    width: 638px;
  }
  .hero_list_button {
    flex-direction: row;
    gap: 16px;
  }
  .hero_btn_first, .hero_btn_second {
    width: auto;
    padding: 0 32px;
  }
  .hero_list_control {
    gap: 16px;
  }
  .hero_control_btn {
    height: 64px;
    width: 64px;
  }
    .hero_control_btn > svg {
      width: 21px;
      height: 16px;
    }
  .hero_list_control {
    margin-left: auto;
  }
}

.about {
  background-color: #c82a7a;
  padding: 40px 0 580px;
}

.about_container, .about_absolute {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about_img_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  width: 327px;
  height: 327px;
  position: relative;
  border-radius: 25px;
  padding-left: 65px;
}

.about_image {
  height: 327px;
  width: 262px;
}

.about_image_part {
  position: absolute;
  left: 0;
  top: 0;
}

.about_subtitle {
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 20%;
}

.about_title {
  font-size: 28px;
  color: #fff;
  margin: 12px 0 20px;
}

.about_text {
  color: #fff;
  margin-bottom: 32px;
}

.about_list_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}

.about_btn {
  height: 48px;
  width: 327px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  transition: all 300ms linear;
}

.about_btn:hover, .about_btn:focus {
    background-color: #fff;
    color: #db509b;
  }

.absolute_back {
  height: 440px;
  width: 100%;
  background-color: #f3f3f3;
}

.about_absolute {
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  gap: 24px;
  width: 327px;
  top: 980px;
  z-index: 1;
}

.about_image_absolute {
}

.about_absolute_subtitle {
  color: #c82a7a;
}

.about_absolute_title {
  color: #8000b3;
  font-size: 26px;
  margin: 12px 0 20px;
}

.about_absolute_text {
  color: #363638;
  margin-bottom: 32px;
}

.about_absolute_content {
  width: 327px;
  padding: 0 16px 24px;
}

.about_absolute_btn {
  height: 48px;
  width: 296px;
  background-color: transparent;
  border: 1px solid #db509b;
  border-radius: 30px;
  color: #560b75;
  transition: all 300ms linear;
}

.about_absolute_btn:hover, .about_absolute_btn:focus {
    background-color: #c82a7a;
    color: #fff;
  }

@media screen and (min-width: 1440px) {
  .about {
    padding: 120px 0 460px;
  }
  .about_container {
    flex-direction: row-reverse;
  }
  .about_img_container {
    height: 640px;
    width: 640px;
    flex-shrink: 0;
    padding-left: 128px;
  }
  .about_image {
    height: 640px;
    width: 512px;
  }
  .about_image_part {
    height: 640px;
    width: 640px;
  }
  .about_subtitle {
    font-size: 20px;
    text-align: left;
  }
  .about_title {
    font-size: 56px;
    text-align: left;
    margin: 20px 0 24px;
  }
  .about_text {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .about_list_btn {
    flex-direction: row;
    gap: 16px;
    justify-content: start;
  }
  .about_btn, .about_absolute_btn {
    width: auto;
    padding: 0 32px;
    white-space: nowrap;
  }
  .about_absolute {
    display: flex;
    gap: 64px;
    width: 1276px;
    flex-direction: row;
    top: 850px;
  }

  .about_image {
    height: 602px;
  }

  .about_absolute_subtitle {
    width: 400px;
  }
  .about_absolute_title {
    font-size: 44px;
    margin: 20px 0 24px;
  }
  .about_absolute_text {
    font-size: 20px;
    width: 497px;
  }
  .absolute_back {
    height: 340px;
  }
}

.swiper_section {
  padding: 48px 0 40px;
  background-image: url(../../assets/images/swiper/backMobail.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.swiper_container {
  display: flex;
  flex-direction: column;
}

.swiper_subtitle {
  color: #c82a7a;
  text-align: left;
}

.swiper_title {
  color: #8000b3;
  font-size: 28px;
  text-align: left;
  margin: 20px 0;
}

.swiper_btn {
  width: 100%;
  height: 48px;
  background-color: #c82a7a;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
  transition: all 300ms linear;
}

.swiper_btn:hover, .swiper_btn:focus {
    background-color: transparent;
    color: #c82a7a;
    border: 1px solid #c82a7a;
  }

.swiper_list_control {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px auto;
}

.swiper_control_btn {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #c82a7a;
  border-radius: 50%;
  transition: all 300ms linear;
}

.swiper_control_btn > svg {
    fill: #8000b3;
  }

.swiper_control_btn:hover, .swiper_control_btn:focus {
    background-color: #c82a7a;
  }

.swiper_control_btn:hover > svg, .swiper_control_btn:focus > svg {
    fill: #fff;
  }

.scrollbar-wrapper {
  display: none;
}

@media screen and (max-width: 1439px) {
  .swiper_swiper {
    overflow: hidden;
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .swiper_section {
    padding: 86px 0;
    background-image: url(../../assets/images/swiper/backDesk.jpg);
    height: 1000px;
  }
  .swiper_title {
    font-size: 56px;
  }
  .swiper_btn_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .swiper_btn {
    width: 250px;
    padding: 0 32px;
    display: inline-block;
    margin: 0;
  }
  .swiper_swiper {
    width: 369px;
  }
  .swiper_list_control {
    width: 100%;
    justify-content: end;
    position: relative;
  }
  .scrollbar-wrapper {
    display: block;
    position: absolute;
    left: 0px;
    top: 30px;
    width: 1110px;
  }
  .swiper-scrollbar {
    position: absolute;
    height: 4px;
    background-color: #d0d1d3;
    border-radius: 10px;
  }

  .swiper-scrollbar-drag {
    background-color: #b34ce3;
    border-radius: 10px;
  }
}

.swiper_item {
  width: 327px;
  height: 580px;
  background-color: #8000b3;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.swiper_item_img_back {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper_item_content {
  padding: 24px;
}

.swiper_item_title {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 16px;
}

.swiper_item_text {
  color: #fff;
  margin-bottom: 30px;
}

.swiper_item_link {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.swiper_item_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 4px;
}

.swiper_item_btn > svg {
    fill: #fff;
  }

@media screen and (min-width: 1440px) {
  .swiper_item {
    height: 450px;
    width: 369px;
    margin-right: 32px;
    background-color: #fff;
    border: 0.2px solid #d0d1d3;
    transition: all 300ms linear;
  }
    .swiper_item:hover {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .swiper_item .swiper_item_img {
      width: 369px;
      height: 275px;
    }
    .swiper_item .swiper_item_img_back {
      display: none;
    }
    .swiper_item .swiper_item_title {
      color: #560b75;
    }
    .swiper_item .swiper_item_link {
      color: #560b75;
    }
    .swiper_item .swiper_item_text {
      display: none;
    }
    .swiper_item .swiper_item_btn {
      color: #c82a7a;
      border-color: #c82a7a;
    }
      .swiper_item .swiper_item_btn > svg {
        fill: #c82a7a;
        transition: all 300ms linear;
      }
      .swiper_item .swiper_item_btn{
      transition: all 300ms linear;
  }
      .swiper_item .swiper_item_btn:hover, .swiper_item .swiper_item_btn:focus {
        background-color: #c82a7a;
      }
      .swiper_item .swiper_item_btn:hover svg, .swiper_item .swiper_item_btn:focus svg {
        fill: #fff;
      }
  .active {
    background-color: #8000b3;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    height: 580px;
  }
    .active .swiper_item_img_back {
      display: block;
      width: 369px;
      height: 275px;
    }
    .active .swiper_item_content {
      padding: 24px;
    }
    .active .swiper_item_title {
      font-size: 26px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .active .swiper_item_text {
      display: block;
      color: #fff;
      margin-bottom: 30px;
    }
    .active .swiper_item_link {
      font-weight: 600;
      color: #fff;
      text-decoration: none;
    }
    .active .swiper_item_btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin-left: 4px;
    }
      .active .swiper_item_btn > svg {
        fill: #fff;
      }
}

.mobail_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  z-index: 2;
  background-image: url(../../assets/images/BG.png);
  background-repeat: no-repeat;
  transition: transform 300ms linear;
  transform: translateX(100%);
}

.mobail_menu_btn_close {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 48px;
  width: 48px;
  background-color: #db509b;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-menu {
  transform: translateX(0);
}

@media screen and (min-width: 1440px) {
  .mobail_menu {
    width: 680px;
  }
}

/*# sourceMappingURL=style.css.map */
