<header class="header">
  <div class="header_container container">
    <a href="/"
      ><img class="header_logo" src="./assets/images/logo.png" alt="Logo"
    /></a>
    <ul class="header_list">
      <li class="header_list_item">
        <button class="header_btn" type="button">CONTACT US</button>
      </li>
      <li class="header_list_item">
        <button class="header_btn" type="button">SUBMIT CV</button>
      </li>
      <li>
        <button
          class="header_btn_menu"
          type="button"
          onclick="
    const btn = document.querySelector('.mobail_menu')
    btn.classList.add('open-menu')
        "
        >
          <svg width="24" height="18">
            <use href="./assets/images/icons/symbol-defs.svg#icon-menu"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
